<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/../halls"> Halls </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-label color="primary" style="font-size: 30px; ">All is Required</ion-label>
  <form [formGroup]="LoginForm" (ngSubmit)="Login(LoginForm.value)">

    <ion-item>
      <ion-input label="Hall Name:" formControlName="name" clearOnEdit="true"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input label="Hall capacity:" formControlName="capacity" clearOnEdit="true"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input label="No.Booth fittings:" formControlName="numberOfBoothFiting" clearOnEdit="true"></ion-input>
    </ion-item>


    <ion-item>
      <ion-input label="contactTeam:" formControlName="contactTeam" clearOnEdit="true"></ion-input>
    </ion-item>


    <ion-item>
      <ion-checkbox
        formControlName="avaliability"
      >Avaliable?</ion-checkbox>
    </ion-item>


    <ion-button
      expand="block"
      type="submit"
      color="warning"
      [disabled]="!LoginForm.valid"
      (click)="add()"
    > Add</ion-button>
</form>

</ion-content>
