<ion-header [translucent]="true" *ngIf="false">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/../halls"> Halls </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-header [translucent]="true">
  <!-- Mohsen work -->
  <ion-toolbar>
    <ion-title>
      Halls
    </ion-title>
  </ion-toolbar>
  <ion-item position="fixed">
    <ion-searchbar></ion-searchbar>
    <ion-button fill="clear" (click)="filterBox()"><ion-icon name="filter"></ion-icon></ion-button>
  </ion-item>
    <div *ngIf="showfilter">
      <ion-item>
        <ion-label>Sort By:</ion-label>
        <ion-select [(ngModel)]="sortMethod" interface="action-sheet">
          <ion-select-option  value="alHalls">All halls</ion-select-option>
          <ion-select-option value="avHalls">Availabe halls</ion-select-option>
          <ion-select-option value="reHalls">Reserved halls</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>From: </ion-label>
        <div>
          <ion-datetime-button presentation="date" datetime="startDate"></ion-datetime-button>
          <ion-modal [keepContentsMounted]="true" >
            <ng-template>
          <ion-datetime [highlightedDates]="highlightedDates"
           presentation="date" [min]="oneDayStr" [max]="oneWeekStr" [dayValues]="sevenDays" 
          (ionChange)="onStartDateChange($event)"
          [showDefaultButtons]="true"
          id="startDate"></ion-datetime>
      </ng-template>
      </ion-modal>
        </div>
      </ion-item>
      <ion-item>
        <ion-label>To: </ion-label>
        <div>
          <ion-datetime-button presentation="date" datetime="endDate"></ion-datetime-button>
          <ion-modal [keepContentsMounted]="true" >
            <ng-template>
          <ion-datetime [highlightedDates]="highlightedDates"
           presentation="date" [min]="oneDayStr" [max]="oneWeekStr" [dayValues]="sevenDays" 
          (ionChange)="onEndDateChange($event)"
          [showDefaultButtons]="true"
          id="endDate"></ion-datetime>
      </ng-template>
      </ion-modal>
        </div>
      </ion-item>
      <ion-item> <ion-label color="secondary" style="font-weight: 750;">{{result}}</ion-label></ion-item>
    </div>
    <!-- End of Mohsen work -->
</ion-header>

<ion-content [fullscreen]="true" *ngIf="false">
  <ion-label color="primary" style="font-size: 30px; ">All is Required</ion-label>
  <form [formGroup]="LoginForm" (ngSubmit)="Login(LoginForm.value)">

    <ion-item>
      <ion-input label="Hall Name:" formControlName="name" clearOnEdit="true"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input label="Hall capacity:" formControlName="capacity" clearOnEdit="true"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input label="No.Booth fittings:" formControlName="numberOfBoothFiting" clearOnEdit="true"></ion-input>
    </ion-item>


    <ion-item>
      <ion-input label="contactTeam:" formControlName="contactTeam" clearOnEdit="true"></ion-input>
    </ion-item>


    <ion-item>
      <ion-checkbox
        formControlName="avaliability"
      >Avaliable?</ion-checkbox>
    </ion-item>


    <ion-button
      expand="block"
      type="submit"
      color="warning"
      [disabled]="!LoginForm.valid"
      (click)="add()"
    > Add</ion-button>
</form>

</ion-content>
<!-- Mohsen work Test -->
<ion-content [fullscreen]="true">
  <div *ngFor="let hall of halls">
  <ion-card *ngIf="hall.availability">
    <img [src]="hall.image" class="card-image"/>
    <ion-card-content>
      <ion-card-title>{{hall.name}}</ion-card-title>
    </ion-card-content>
  </ion-card>
</div>
</ion-content>
<!-- End of Mohsen work Test -->