<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>halls</ion-title>
    <ion-buttons><ion-back-button></ion-back-button></ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-button routerLink="/tabs/tab2" expand="block" color="warning">Back</ion-button>
  <ion-list>
    <ion-item-sliding *ngFor="let hall of hallsrv.halls$ |async" >
      <ion-item>
        <ion-label>
          <ion-input label="Hall Name:" value="{{hall.name}}" [(ngModel)]="hall.name"></ion-input>
          <ion-input label="Hall capacity:" value="{{hall.capacity}}" [(ngModel)]="hall.capacity"></ion-input>
          <ion-input label="No.of booth fittings:" value="{{hall.numberOfBoothFiting}}" [(ngModel)]="hall.numberOfBoothFiting"></ion-input>
          <ion-input label="Contact Team:" value="{{hall.contactTeam}}" [(ngModel)]="hall.contactTeam"></ion-input>
          <ion-input label="hall Avaliability:" value="{{hall.avaliability}}" [(ngModel)]="hall.avaliability"></ion-input>


          <ion-button color="secondary" (click)="update(hall)">Update</ion-button>
          <ion-button color="danger" (click)="del(hall)">Delete</ion-button>
        </ion-label>
      </ion-item>
    </ion-item-sliding>
  </ion-list>


</ion-content>
